/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');


.loginContenedor{
height: 100vh;
background-image: url('loginHospital.jpg');

}

.cardLogin{
height: 370px;
margin-top: 100px;
margin-bottom: 10px;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

/* .social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
} */

.cardHLogin h3{
color:#54FD00;
}

/* .social_icon{
position: absolute;
right: 20px;
top: -45px;
} */

.loginInputS{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.loginInputF input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color: white;
}

.links a:hover{
    color: #54FD00;
    cursor: pointer;
}